.champs{
    position: relative;
    background-color: rgba(255, 80, 84,1);
    height: 1000px;
    width: 100%;
    z-index: 11;
    left: 0;
    overflow: hidden;
}
.champs-title{
    position: absolute;
    text-align: center;
    top: 15%;
    left: 50%;
    font-size: 2.5rem;
    text-transform: uppercase;
    .span1{
        color: rgba(16, 24, 35,1);

    }
    .span2{
        color: rgba(89, 70, 84,0.7);
    }
    p{
        font-size: 2rem;
        text-transform: capitalize;
    }
}
.slide{
    position: absolute;
    top:10%;
    left:5%;
    background-repeat:no-repeat ;
    background-attachment: local;
    background-position: 45% 10%;
    height: 70%;
    width: 45%;
    z-index: 1;
    border: 8px solid rgba(89, 70, 84,1);
    animation: slide 1.2s ease;
        
}
.slide-container{
    position: absolute;
    left:10%;
    top: 105%;
    background: rgba(220, 240, 230,1);
    border: 10px solid rgba(89, 70, 84,1);
    border-top: none;
    
    width: 80%;
}
.caption {
    text-align: center;
    font-size: 1em;
    h1{
        font-family: 'Ubuntu', sans-serif;
        color:rgba(89, 70, 84,0.9) ;
        
        padding-bottom: 15px;
        animation: CaptionText .5s ease forwards;
        animation-delay: 1s;
        
    }
    p{
        color: black;
        font-size: 1.2em;
        animation: CaptionText .5s ease forwards;
        animation-delay: 1.2s;
    }
}
.controls{
    position: absolute;
    width: 100%;
    top:50%;
}
// for next and previous champs
buttons {
    position: absolute;
    background: rgba(16, 24, 35,1);
    height: 100px;
    width: 80px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    line-height: 100px;
    color:beige;
    cursor: pointer;

    &:hover{
        background: rgba(220, 240, 230,1);
        color:rgba(16, 24, 35,1);
    }
}
.previous{
    @extend buttons;
    left: 0;
}
.next{
    @extend buttons;
    right:0;
    
}
.active{
    z-index: 999;
    display: flex;
    animation: slide 1s ease;
}

@keyframes slide{
    0%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }

}
@keyframes CaptionText{
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
    50%{
        opacity: 0.5;
        
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}