.champs{
    position: relative;
    left: 0;
    background-color: rgba(255, 80, 84,1);
    height: 100vh;
    width: 100%;
    z-index: 11;
    overflow: hidden;

    // S screen
    @media screen and (max-width:480px){
        height: 120vh;
    }
}
.champs-title{
    width: 50%;
    height: 100%;
    position: relative;
    text-align: center;
    top: 15%;
    left: 50%;
    font-size: 2vw;
    text-transform: uppercase;

    // S screen
    @media screen and (max-width:480px){
        width: 100%;
        height: 30%;
        top: 5%;
        left: 0;
        font-size: 4vw;


    }
    .span1{
        color: rgba(16, 24, 35,1);

    }
    .span2{
        color: rgba(89, 70, 84,0.7);
    }
    p{
        font-size: 2vw;
        text-transform: capitalize;

        // S screen
        @media screen and (max-width:480px){
            font-size: 3vw;
            font-weight: bold;
        }
    }
}
.slide{
    position: absolute;
    top:10%;
    left:5%;
    object-fit: cover;
    background-repeat:no-repeat ;
    background-attachment: local;
    background-position: 45% 10%;
    height: 70%;
    width: 45%;
    z-index: 1;
    border: 8px solid rgba(89, 70, 84,1);

    // S screen
    @media screen and (max-width:480px){
        position: absolute;
        top: 22%;
        left: 10%;
        height: 80vh;
        width: 80%;
    }
        
}
.slide-container{
    position: relative;
    width: 80%;
    left:10%;
    top: 105%;
    background: rgba(220, 240, 230,1);
    border: 1vw solid rgba(89, 70, 84,1);
    border-top: none;
    
    
}
.caption {
    text-align: center;
    font-size: 1vw;

    // S screen
    @media screen and (max-width:480px){
        font-size: 2vw;
    }
    h1{
        font-family: 'Ubuntu', sans-serif;
        color:rgba(89, 70, 84,0.9) ;
        
        padding-bottom: 1vh;
        
    }
    p{
        color: black;
        font-size: 1.2vw;

        @media screen and (max-width:768px) {
            font-size: 1.7vw;
        }
        
        // S screen
        @media screen and (max-width:480px){
            font-size: 3vw;
        }
    }
}
.controls{
    position: absolute;
    width: 100%;
    top:50%;
}
// for next and previous champs
buttons {
    
    position: absolute;
    background: rgba(16, 24, 35,1);
    height: 10vh;
    width: 4vw;
    text-align: center;
    padding: 2vh 0;
    font-size: 2vw;
    font-weight: bold;
    color:beige;
    z-index: 100;
    cursor: pointer;
    @media screen and (max-width:768px) {
        padding: 3vh 0;
    }   
    
    // S screen
    @media screen and (max-width:480px){
        width: 8vw;
        padding: 3vh 0;
        font-size: 4vw;
    }

    &:hover{
        background: rgba(220, 240, 230,1);
        color:rgba(16, 24, 35,1);
    }
}
.previous{
    @extend buttons;
    left: 0;
}
.next{
    @extend buttons;
    right:0;
    
}
.active{
    z-index: 99;
}
