.Display-home{
    position: relative;
    height: 100vh;
    width: 100%;
}

.Banner{
    position: relative;
    width: 100%;
    height: 100%;
}
.Banner video{
    object-fit:cover;  
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 0.9;
}
.content{
    
    position: absolute;
    width: 20vw;
    top: 80%;
    left: 40%;
    
    @media screen and (max-width:480px){
        width: 40vw;
        left: 28%;
    }
}
.register{
    display: block;
    background-color: rgba(255, 70, 84,1);
    width: 20vw;
    height: 20vh;
    padding: 5vh 0;
    
    text-align: center;
    color: white;
    border: 0.6vw solid rgba(16, 24, 35,1) ;
    
    font-weight: bold;
    font-size: 1.7vw;
    transition: 300ms all ease-in;

    @media screen and (max-width:480px){
        width: 40vw;
        height: 15vh;
        overflow: hidden;
        padding: 6vh 0;
        font-size: 3vw;
    }
}
.register:hover{
    background-color: rgba(16, 24, 35,1);
    border-color: white;
    color: rgba(255, 70, 84,1); 
}