.footer{
    position: relative;
    height: 50vh;
    width: 100%;
    top:0;
    left: 0;
    
    background: rgba(16, 24, 35,1);
    overflow: hidden;

    display:flex;
    flex-direction: row;
}
.credits{
    
    background: rgba(255, 70, 84,1);
    height: 50vh;
    width: 30vw;
    left: 0;
    ul{
        height: 100%;
        width: 100%;
    }
    ul li {
        margin: 10vh 10vw;
    }
    ul li a{
        color: white;
        font-size: 1.2vw;
        font-weight: bold;
    }
    ul li a:hover{
        color :black;
    }

}
.pegi-12{
    width: 6vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    .pegi-pictures{
        width: 6vw;
        height: 33%;
        img{
            position: relative;
            width: 100%;
            height: 100%;
        }
    }
    
}
.valorant{
    width: 64vw;
    height: 50vh;
    img{
        width: 100%;
        height: 100%;
    }
}