.maps-title{
    position: relative;
    width: 100%;
    height: 20vh;
    background:rgba(236, 232, 225,1);
    
    h1{
        position: absolute;
        right: 15%;
        top: 5;
        width: auto;
        font-size: 5vw;
        color: rgba(100, 70, 84,1);
        text-align: center;
        @media screen and (max-width:480px){
            margin-top:2vh;
            right: 0;
            left: 0;
            margin: 0 30%;
            font-size: 8vw;
        }
        span{
            color:rgba(255, 80, 84,1);
        }
    }
    p{
        position: absolute;
        width: 80%;
        height: 10vh;
        top: 70%;
        right: 10%;
        font-size: 2.5vw;

        @media screen and (max-width:480px){
            font-weight: bold;
            font-size: 3.5vw;
        }
    }
}
.maps{
    height: 100vh;
    width: 100%;
    background:rgba(236, 232, 225,1);
    position: relative;
    left: 0;
    overflow: hidden;
    z-index: -2;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    @media screen and (max-width:480px){
        height: 169vh;
        flex-direction: column;
    }
    
}
.map-container{
    position: relative;
    top: 10%;
    left:0;
    height: 80vh;
    width: 32vw;
    margin: 0 1vw 0 1vw;    
    border: 1vw solid rgba(255, 80, 84,1);
    
   
    
    background:  rgba(220, 240, 230,0.7);
    @media screen and (max-width:480px){
        width: 100%;
        height: 50vh;
        top: 5vh;
        margin: 2vh 0;
    }
}

.Map-Picture{
    position: absolute;
    object-fit: cover;
    background-repeat:no-repeat ;
    background-attachment: local;
    background-position: 50% 30%;
    height: 100%;
    width: 100%;
    z-index: 1;
    @media screen and (max-width:480px) {
        background-position: 50% 38%;
    }
}
.Map-Info{

    position: absolute;
    height: 16vh;
    width:auto;
    background-color: rgba(220, 240, 230,0.7);
    top:80%;
    text-align: center;
    z-index: 2;
    @media screen and (max-width:480px){
        height:22%;
        width: 100%;
    }
    h1{
        font-size: 2vw;
        font-weight: bold;
        font-family: 'Ubuntu', sans-serif;
        color:rgba(255, 80, 84,0.6) ;
        @media screen and (max-width:480px) {
            font-size: 5vw;
        }
    }
    p{
        font-weight: bold;
        font-size: 1.4vw;
        @media screen and (max-width:480px) {
            padding:1.5vh ;
            font-size: 2.5vw;
        }
    }
}
