.nav-bar{
    background:rgba(16, 24, 35,1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 15h;
    display: flex;
    flex-direction: row;
    z-index: 999;
    
    @media screen and (max-width:480px){
        position: relative;
        height: 70vh;
        flex-direction: column;
    }
}
#nav-list{
    position: relative;
    left:0;
    top: 0;
    width: 70%;
    height: 15vh;
    margin: 0 40vw;
    
    @media screen and (max-width:480px){
        position: relative;
        width: 50vw;
        height: 65vh;
        left: 0;
        top: 5vh;
        margin: 0 26vw;
        overflow: hidden;
    }   
    
    ul{ 
       display: flex;
       flex-direction: row;
       
       @media screen and (max-width:480px){
            flex-direction: column;
        }
       
        li{  
            margin: 2vh 3vw;
            @media screen and (max-width:480px){
                margin: 2vh 2.5vw;
            }
               
        }
   }
}
.btn{
    display: block;

    width: 10vw;
    height: 10vh;
    text-align: center;
    padding: 10% 0;
    
    background:rgba(255, 70, 84,1);
    
    
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    font-size: 1vw;
    
    border: 0.2vw solid white;
    transition: 300ms all ease-in;

    @media screen and (max-width:480px){
        width: 40vw;
        height: 10vh;
        font-size: 3vw;
    }
    @media screen and (max-width:320px){
        width: 45vw;
    }

}
.btn:hover{
    background:white;
    color:rgba(255, 70, 84,1) ;
}

#valorant-icon{
    position: relative;
    top: 0;
    left: 0;
    width: 15vw;
    height: 15vh;
    
    @media screen and (max-width:480px){
        left: 39%;
    }
    img{
        height: 15vh;
        width: 15vh;
    }
}

