.nav-bar{
    background:rgba(16, 24, 35,1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: row;
    z-index: 999;
}
#nav-list{
    position: relative;
    left:0;
    top: 0;
    width: 80%;
    height: 15vh;
   ul{ 
       position: absolute;
       display: flex;
       flex-direction: row;
       padding: 0 40vw;
       li{  
            margin: 2vh 3vw;
               
        }
   }
}
.btn{
    display: block;

    width: 11vw;
    height: 10vh;
    text-align: center;
    padding: 10% 0;
    
    background:rgba(255, 70, 84,1);
    
    
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    font-size: 1vw;
    
    border: 0.2vw solid white;
    transition: 300ms all ease-in;

}
.btn:hover{
    background:white;
    color:rgba(255, 70, 84,1) ;
}

#valorant-icon{
    position: relative;
    top: 0;
    left: 0;
    
    img{
        height: 15vh;
        width: 15vh;
    }
}