*{
    padding:0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    
    
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.container-fluid{
    width: 100%;
    height: 100vh;
}
@import "NavBar";
@import "Display";
@import "Champs";
@import "Maps";
@import "Footer";
