* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container-fluid {
  width: 100%;
  height: 100vh;
}

.nav-bar {
  background: #101823;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 15h;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  z-index: 999;
}

@media screen and (max-width: 480px) {
  .nav-bar {
    position: relative;
    height: 70vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#nav-list {
  position: relative;
  left: 0;
  top: 0;
  width: 70%;
  height: 15vh;
  margin: 0 40vw;
}

@media screen and (max-width: 480px) {
  #nav-list {
    position: relative;
    width: 50vw;
    height: 65vh;
    left: 0;
    top: 5vh;
    margin: 0 26vw;
    overflow: hidden;
  }
}

#nav-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media screen and (max-width: 480px) {
  #nav-list ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#nav-list ul li {
  margin: 2vh 3vw;
}

@media screen and (max-width: 480px) {
  #nav-list ul li {
    margin: 2vh 2.5vw;
  }
}

.btn {
  display: block;
  width: 10vw;
  height: 10vh;
  text-align: center;
  padding: 10% 0;
  background: #ff4654;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  font-size: 1vw;
  border: 0.2vw solid white;
  -webkit-transition: 300ms all ease-in;
  transition: 300ms all ease-in;
}

@media screen and (max-width: 480px) {
  .btn {
    width: 40vw;
    height: 10vh;
    font-size: 3vw;
  }
}

@media screen and (max-width: 320px) {
  .btn {
    width: 45vw;
  }
}

.btn:hover {
  background: white;
  color: #ff4654;
}

#valorant-icon {
  position: relative;
  top: 0;
  left: 0;
  width: 15vw;
  height: 15vh;
}

@media screen and (max-width: 480px) {
  #valorant-icon {
    left: 39%;
  }
}

#valorant-icon img {
  height: 15vh;
  width: 15vh;
}

.Display-home {
  position: relative;
  height: 100vh;
  width: 100%;
}

.Banner {
  position: relative;
  width: 100%;
  height: 100%;
}

.Banner video {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0.9;
}

.content {
  position: absolute;
  width: 20vw;
  top: 80%;
  left: 40%;
}

@media screen and (max-width: 480px) {
  .content {
    width: 40vw;
    left: 28%;
  }
}

.register {
  display: block;
  background-color: #ff4654;
  width: 20vw;
  height: 20vh;
  padding: 5vh 0;
  text-align: center;
  color: white;
  border: 0.6vw solid #101823;
  font-weight: bold;
  font-size: 1.7vw;
  -webkit-transition: 300ms all ease-in;
  transition: 300ms all ease-in;
}

@media screen and (max-width: 480px) {
  .register {
    width: 40vw;
    height: 15vh;
    overflow: hidden;
    padding: 6vh 0;
    font-size: 3vw;
  }
}

.register:hover {
  background-color: #101823;
  border-color: white;
  color: #ff4654;
}

.champs {
  position: relative;
  left: 0;
  background-color: #ff5054;
  height: 100vh;
  width: 100%;
  z-index: 11;
  overflow: hidden;
}

@media screen and (max-width: 480px) {
  .champs {
    height: 120vh;
  }
}

.champs-title {
  width: 50%;
  height: 100%;
  position: relative;
  text-align: center;
  top: 15%;
  left: 50%;
  font-size: 2vw;
  text-transform: uppercase;
}

@media screen and (max-width: 480px) {
  .champs-title {
    width: 100%;
    height: 30%;
    top: 5%;
    left: 0;
    font-size: 4vw;
  }
}

.champs-title .span1 {
  color: #101823;
}

.champs-title .span2 {
  color: rgba(89, 70, 84, 0.7);
}

.champs-title p {
  font-size: 2vw;
  text-transform: capitalize;
}

@media screen and (max-width: 480px) {
  .champs-title p {
    font-size: 3vw;
    font-weight: bold;
  }
}

.slide {
  position: absolute;
  top: 10%;
  left: 5%;
  -o-object-fit: cover;
     object-fit: cover;
  background-repeat: no-repeat;
  background-attachment: local;
  background-position: 45% 10%;
  height: 70%;
  width: 45%;
  z-index: 1;
  border: 8px solid #594654;
}

@media screen and (max-width: 480px) {
  .slide {
    position: absolute;
    top: 22%;
    left: 10%;
    height: 80vh;
    width: 80%;
  }
}

.slide-container {
  position: relative;
  width: 80%;
  left: 10%;
  top: 105%;
  background: #dcf0e6;
  border: 1vw solid #594654;
  border-top: none;
}

.caption {
  text-align: center;
  font-size: 1vw;
}

@media screen and (max-width: 480px) {
  .caption {
    font-size: 2vw;
  }
}

.caption h1 {
  font-family: 'Ubuntu', sans-serif;
  color: rgba(89, 70, 84, 0.9);
  padding-bottom: 1vh;
}

.caption p {
  color: black;
  font-size: 1.2vw;
}

@media screen and (max-width: 480px) {
  .caption p {
    font-size: 3vw;
  }
}

.controls {
  position: absolute;
  width: 100%;
  top: 50%;
}

buttons, .previous, .next {
  position: absolute;
  background: #101823;
  height: 10vh;
  width: 4vw;
  text-align: center;
  padding: 2vh 0;
  font-size: 2vw;
  font-weight: bold;
  color: beige;
  z-index: 100;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  buttons, .previous, .next {
    width: 8vw;
    padding: 3vh 0;
    font-size: 4vw;
  }
}

buttons:hover, .previous:hover, .next:hover {
  background: #dcf0e6;
  color: #101823;
}

.previous {
  left: 0;
}

.next {
  right: 0;
}

.active {
  z-index: 99;
}

.maps-title {
  position: relative;
  width: 100%;
  height: 20vh;
  background: #ece8e1;
}

.maps-title h1 {
  position: absolute;
  right: 15%;
  top: 5;
  width: auto;
  font-size: 5vw;
  color: #644654;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .maps-title h1 {
    margin-top: 2vh;
    right: 0;
    left: 0;
    margin: 0 30%;
    font-size: 8vw;
  }
}

.maps-title h1 span {
  color: #ff5054;
}

.maps-title p {
  position: absolute;
  width: 80%;
  height: 10vh;
  top: 70%;
  right: 10%;
  font-size: 2.5vw;
}

@media screen and (max-width: 480px) {
  .maps-title p {
    font-weight: bold;
    font-size: 3.5vw;
  }
}

.maps {
  height: 100vh;
  width: 100%;
  background: #ece8e1;
  position: relative;
  left: 0;
  overflow: hidden;
  z-index: -2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

@media screen and (max-width: 480px) {
  .maps {
    height: 169vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.map-container {
  position: relative;
  top: 10%;
  left: 0;
  height: 80vh;
  width: 32vw;
  margin: 0 1vw 0 1vw;
  border: 1vw solid #ff5054;
  background: rgba(220, 240, 230, 0.7);
}

@media screen and (max-width: 480px) {
  .map-container {
    width: 100%;
    height: 50vh;
    top: 5vh;
    margin: 2vh 0;
  }
}

.Map-Picture {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  background-repeat: no-repeat;
  background-attachment: local;
  background-position: 50% 30%;
  height: 100%;
  width: 100%;
  z-index: 1;
}

@media screen and (max-width: 480px) {
  .Map-Picture {
    background-position: 50% 38%;
  }
}

.Map-Info {
  position: absolute;
  height: 16vh;
  width: auto;
  background-color: rgba(220, 240, 230, 0.7);
  top: 80%;
  text-align: center;
  z-index: 2;
}

@media screen and (max-width: 480px) {
  .Map-Info {
    height: 22%;
    width: 100%;
  }
}

.Map-Info h1 {
  font-size: 2vw;
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
  color: rgba(255, 80, 84, 0.6);
}

@media screen and (max-width: 480px) {
  .Map-Info h1 {
    font-size: 5vw;
  }
}

.Map-Info p {
  font-weight: bold;
  font-size: 1.4vw;
}

@media screen and (max-width: 480px) {
  .Map-Info p {
    padding: 1.5vh;
    font-size: 2.5vw;
  }
}

.footer {
  position: relative;
  height: 50vh;
  width: 100%;
  top: 0;
  left: 0;
  background: #101823;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.credits {
  background: #ff4654;
  height: 50vh;
  width: 30vw;
  left: 0;
}

.credits ul {
  height: 100%;
  width: 100%;
}

.credits ul li {
  margin: 10vh 10vw;
}

.credits ul li a {
  color: white;
  font-size: 1.2vw;
  font-weight: bold;
}

.credits ul li a:hover {
  color: black;
}

.pegi-12 {
  width: 6vw;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pegi-12 .pegi-pictures {
  width: 6vw;
  height: 33%;
}

.pegi-12 .pegi-pictures img {
  position: relative;
  width: 100%;
  height: 100%;
}

.valorant {
  width: 64vw;
  height: 50vh;
}

.valorant img {
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=Main.css.map */